@font-face {
    font-family: 'script_coleregular';
    src: url('scriptcole-webfont.woff2') format('woff2'),
         url('scriptcole-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
